<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="/Resources/js/base.js"></script>
</head>
<body>
    <div class="layui-tab layui-tab-brief viewHtml" lay-filter="view">
        <ul class="layui-tab-title">
            <li class="layui-this">基本信息</li>
        </ul>
        <div class="layui-tab-content">
            <div class="base_infoData layui-tab-item layui-show" id="div_view">
                <div class="oneRow">
                    <section class="baseItem">
                        <span>申请人类型</span>
                        <label id="txtSQRLX" name="SQRLX"></label>
                    </section>
                    <section class="baseItem">
                        <span>申请人名称</span>
                        <label id="txtSQRMC" name="SQRMC"></label>
                    </section>
                </div>
                <div class="oneRow">
                    <section class="baseItem">
                        <span>申请人性质</span>
                        <label id="txtSQRXZ" name="SQRXZ"></label>
                    </section>
                    <section class="baseItem">
                        <span>证件种类</span>
                        <label id="txtSQRZJZL" name="SQRZJZL"></label>
                    </section>
                </div>
                <div class="oneRow">
                    <section class="baseItem">
                        <span>证件号</span>
                        <label id="txtSQRZJH" name="SQRZJH"></label>
                    </section>
                    <section class="baseItem">
                        <span>通讯地址</span>
                        <label id="txtSQRTXDZ" name="SQRTXDZ"></label>
                    </section>
                </div>
                <div class="oneRow">
                    <section class="baseItem">
                        <span>联系电话</span>
                        <label id="txtLXDH" name="LXDH"></label>
                    </section>
                    <section class="baseItem">
                        <span>共有方式</span>
                        <label id="txtGYFS" name="GYFS"></label>
                    </section>
                </div>
                <div class="oneRow">
                    <section class="baseItem">
                        <span>权力比例</span>
                        <label id="txtQLBL" name="QLBL"></label>
                    </section>
                    <section class="baseItem">
                        <span>共有情况</span>
                        <label id="txtGYQK" name="GYQK"></label>
                    </section>
                </div>
                <div class="oneRow">
                    <section class="baseItem">
                        <span>国家和地区</span>
                        <label id="txtSQRGJDQ" name="SQRGJDQ"></label>
                    </section>
                    <section class="baseItem">
                        <span>户籍所在省市</span>
                        <label id="txtSQRHJSZD" name="SQRHJSZD"></label>
                    </section>
                </div>
                <div class="oneRow">
                    <section class="baseItem">
                        <span>代理人名称</span>
                        <label id="txtDLRMC" name="DLRMC"></label>
                    </section>
                    <section class="baseItem">
                        <span>代理人电话</span>
                        <label id="txtDLRDH" name="DLRDH"></label>
                    </section>
                </div>
                <div class="oneRow">
                    <section class="baseItem">
                        <span>代理机构</span>
                        <label id="txtDLJG" name="DLJG"></label>
                    </section>
                </div>
               
            </div>
        </div>
    </div>
    <script src="js/personinfo.js"></script>
</body>
</html>