<!doctype html>
<html  class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="../Resources/css/font.css" rel="stylesheet" />
    <link href="../Resources/css/login.css" rel="stylesheet" />
    <link href="../Resources/css/xadmin.css" rel="stylesheet" />
    <script src="../Resources/js/jquery.min.js"></script>
    <script src="../Resources/lib/layui/layui.js"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">不动产社会化后台管理系统</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            layui.use(['form'], function () {
              var form = layui.form;
              //监听提交
              form.on('submit(login)', function (data) {
                  var field = data.field;
                  login(field.username,field.password);
                  return false;
              });
            });
        })
        // 登录事件
        var login = function (username, password) {
            var data = {
                UserName: username, PassWord: password
            };
            // 异步执行后台登录事件
            $.ajax
                ({
                    type: "POST",
                    url: "/Controllers/LoginHandler.ashx",
                    data: { cmd: "userlogin", JsonData: JSON.stringify(data) },
                    async: false,
                    success: function (data) {
                        var result = JSON.parse(data);
                        if (result.code == 0) {
                            //跳转首页
                            //$.cookie('.ASPAUTH', result.Ticket, { path: '/' });
                            location.href = '/View/Default.html'
                        } else {
                            showInfo("error",result.msg);
                            return;
                        }
                    },
                    error: function (data) {

                    }
                });
        }
        var showInfo = function (type,content) {
            layer.msg(content, {
                icon: (type.toLowerCase() == 'success' ? 1 : 2)
            });
        }
    </script>
    <!-- 底部结束 -->
   
</body>
</html>